{% extends "db_master.html" %}
{% comment %} /* ------------------------------------------------------------------------------------
 *  COPYRIGHT AND TRADEMARK NOTICE
 *  Copyright 2001-2019 Abdulrahman Obaje. All Rights Reserved.
 *  Galleria.com.ng is a trademark of ObajeSoft Inc.

 *  COPYRIGHT NOTICES AND ALL THE COMMENTS SHOULD REMAIN INTACT.
 *  By using this code you agree to indemnify Abdulrahman Obaje from any
 *  liability that might arise from it's use.
  ------------------------------------------------------------------------------------ */ {% endcomment %}

{% load static %}

{% block title %}
  | View Patients
{% endblock %}

{% block master-content %}
    <script>
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                animationEnabled: true,
                title:{
                    text: "Monthly Health Risk Analysis"
                },
                data: [{
                    type: "pie",
                    startAngle: -90,
                    yValueFormatString: "#,###'%'",
                    dataPoints: {{ datapoints | safe }}
                }]
            });
            chart.render();
        }
    </script>

    <div id="chartContainer" style="width: 100%; height: 360px;"></div>
    {% endblock %}                           