{% extends "db_master.html" %}
{% comment %} /* ------------------------------------------------------------------------------------
 *  COPYRIGHT AND TRADEMARK NOTICE
 *  Copyright 2001-2019 Abdulrahman Obaje. All Rights Reserved.
 *  Galleria.com.ng is a trademark of eHealth4Everyone.

 *  COPYRIGHT NOTICES AND ALL THE COMMENTS SHOULD REMAIN INTACT.
 *  By using this code you agree to indemnify Abdulrahman Obaje from any
 *  liability that might arise from it's use.
  ------------------------------------------------------------------------------------ */ {% endcomment %}

{% load static %}

{% block title %}
  View Ailments Statistics
{% endblock %}

{% block master-content %}
<section id="" class="ehealth-form">
  <div class="row">
    <div class="col-s-10">
      <h5>View <strong>My Appointments</strong></h5>
      <div id="table_record" class="patients-list">
        <table style="width:100%">
          <tr>
            <th>Appointment By</th>
            <th>Status</th>
            <th>Date</th>
            <th></th>
          </tr>
          {% for appointment in appointments %}
          <tr>
            <td>{{ appointment.user.first_name }} {{ appointment.user.last_name }}</td>
            <td>{{ appointment.status }}</td>
            <td>{{ appointment.appointment_date }}</td>
            <td><a href="{% url 'appointmentconfirm' appointment.id "accept" %}">Accept</a></td>
            <td><a href="{% url 'appointmentconfirm' appointment.id "reject" %}">Reject</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
</div>

    
{% endblock %}